<section class="plans" id="plans">
    <div class="container">
        <br/>
            <a href="{{ urls.signup }}" class="navbar-brand">Register for access to FHIR Server & Vaccination Schedule APIs</a>
    </div>
</section>
